<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Shopping List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/9b65bfd06a.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='ShoppingList.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <header class="container-fluid bg-primary">
        <h1 class="text-light pb-1">Shopping List {% block header %}{% endblock %}</h1>
    </header>
    {% for message in get_flashed_messages() %}
      <div class="alert alert-danger">
        <p class="lead">{{ message }}</p>
      </div>
    {% endfor %}
    <nav>
        {% if current_user.is_authenticated %}
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="#" id="link_items">Shopping Items</a></li>
        </ul>
        {% endif %}
        <ul class="nav nav-tabs" id="login">
            {% if current_user.is_authenticated %}
                <li class="nav-item"><span>{{ current_user.username }}</span></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}" id="link_logout">Log Out</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}" id="link_register">Register</a>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}" id="link_login">Log In</a>
            {% endif %}
        </ul>
    </nav>
    {%block content%}
    {%endblock%}
</body>
</html>
